* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: blue;
  padding: 20px;
}

.headerTitle {
  color: white;
  font-size: 16px;
}

.contentContainer {
  padding: 10px;
  background-color: antiquewhite;
}

.content {
  font-size: 14px;
}

.subContent {
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 12px;
}
